<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_inmobiliaria_.Net</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   
    <script src="https://kit.fontawesome.com/26c95223e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inmobiliaria Navarro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                	
                      
                       @if (!User.Identity.IsAuthenticated)
                      {	
                      
                        <a class="btn btn-primary py-2 d-none d-md-inline-block float-right" asp-controller="Usuarios" asp-action="Login"><span class="lnr lnr-enter"></span> Acceder</a>
                      }
                      else
                       {
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link e" asp-area="" asp-controller="Propietarios" asp-action="IndexP">Propietarios</a>
                                </li>
                                  <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="Inquilinos" asp-action="IndexI">Inquilinos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="Inmuebles" asp-action="IndexIn">Inmuebles</a>
                                </li>
                                <li class="nav-item text-black" >
                                    <a class="nav-link " asp-area="" asp-controller="Contratos" asp-action="IndexC">Contratos</a>
                                </li>  <li class="nav-item text-black" >
                                    <a class="nav-link " asp-area="" asp-controller="Pagos" asp-action="IndexP">Pagos</a>
                                </li>

                                  @if (User.IsInRole("Administrador"))
                                {
                                   <li class="nav-item text-Black">
                                    <a class="nav-link text-Black" asp-area="" asp-controller="Usuarios" asp-action="IndexU">Usuarios</a>
                                </li>
                                }                              
                            </ul>
                        </div>
                          
                             <div class="mr-6 text-Black">
                                <span> Bienvenido  <br> 
                                 @User.FindFirst("FullName")?.Value
                                  @if (User.IsInRole("Administrador"))
                                  {<br><span class="mx-auto">Administrador</span>}
                                
                                  else if (User.IsInRole("Empleado"))
                                
                                 {  <br>
                                 <span class="mx-auto">Empleado</span>}
                             </div>
                              
                              <div class="dropdown " >
                                  <a class="btn btn-primary dropdown-toggle " href="#" role="button" id="userMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent" data-display="static">
                                    <span class="lnr lnr-user"></span> @User.Identity.Name
                                  </a>

                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="EditarPerfil"><i class="lnr lnr-user"></i> Perfil</a>
                                    <a class="dropdown-item text-dark" asp-controller="Usuarios" asp-action="Logout"><i class="lnr lnr-exit"></i> Salir</a>
                                  </div>
                              </div>                        
                        
                      
                       }
                
             </div>
                      
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
        <div class="">
			@if (ViewBag.Id != null)
			{//alta exitosa
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Se guardo</strong> La entidad con id: @ViewBag.Id
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
					</button>
				</div>
			}
			else if (ViewBag.Mensaje != null)
			{//cartel general
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					<strong>Información:</strong> @ViewBag.Mensaje
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
					</button>
				</div>
			}
			else if (ViewBag.Error != null)
			{//alta exitosa
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>¡Error!</strong> @ViewBag.Error
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
					</button>
				</div>
			}
			else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
			{//ocurrió un error
				<environment names="Development">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>¡Error!</strong> Ocurrió: @ViewBag.Error
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
						</button>
						<a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
						<div class="collapse multi-collapse" id="multiCollapseExample1">
							@ViewBag.StackTrace
						</div>
					</div>
				</environment>
			}
			<div class="m-1 p-1">
				@RenderBody()
			</div>
		</div>
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
 </body>
 </html>
