@model Inmobiliaria.Models.Contratos

@{
    ViewData["Title"] = "BorrarContrato";
     var listaInmueble=(List<Inmobiliaria.Models.Inmuebles>)ViewBag.Inmuebles;
    var listaInquilino = (List<Inmobiliaria.Models.Inquilinos>)ViewBag.Inquilinos;
}

<h1>Terminar un Contrato</h1>


<div>
    <h4>Contratos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InmuebleId)
        </dt>
        <dd class = "col-sm-10">
            @if (listaInmueble != null)
    {
        var inmuebleId = Model.InmuebleId;
        var inmueble = listaInmueble.FirstOrDefault(i => i.Id == inmuebleId);
       
            @inmueble.Direccion
     
    }    
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InquilinoId)
        </dt>
        <dd class = "col-sm-10">
            @if (listaInquilino != null)
    {
        var inquilinoId = Model.InquilinoId;
        var inquilino = listaInquilino.FirstOrDefault(i => i.Id == inquilinoId);
        
            @inquilino.Nombre
     
    }
        </dd>
    </dl>
    
    <form asp-action="BorrarContrato">
        <input type="submit" value="Terminar" class="btn btn-danger" onclick="return confirm('¿Seguro que desea borrar este Contrato @Model.Id? ')"/> |
       <a asp-action="IndexC"><i class="fa-solid fa-left-long fa-2xl" style="color: #005eff;"></i></a> 
    </form>
</div>
