@model IEnumerable<Inmobiliaria.Models.Pagos>

@{
    ViewData["Title"] = "IndexP";
    
}


<h1>Lista de Pagos</h1>
@if (!string.IsNullOrEmpty(ViewBag.Mensaje as string))
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Información:</strong> @ViewBag.Mensaje
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<a asp-controller="Pagos"asp-action="NuevoPago" asp-route-ContratoId="@ViewBag.ContratoId" class="btn btn-primary">Nuevo Pago</a>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @String.Format("${0:N2}", item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
           
           
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="IndexC"><i class="fa-solid fa-left-long fa-2xl" style="color: #005eff;"></i></a>
</div>
